.form-title {
    font-size: 28px;
    font-weight: 500;
}
.form-label {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}
.form-input {
    width: calc(100% - 45px);
    background: #F9FBFC;
    border-radius: 10px;
    border: 2px solid #6d93e0a8;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}
.form-input::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
}
.form-input:focus {
    outline-color: #61DAFA;
}
.form-btn {
    padding: 10px;
    height: 50px;
    background: #3d71dba8;
    border-radius: 10px;
    border: 2px solid #6d93e0a8;
    padding: 10px;
    width:  200px;
    margin: 10px 0;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}
 .form-btn:hover { 
    background: #c4619b;
    color: #F9FBFC;
} 
.form-background {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}